.cart{
margin:50px auto;
width: 100%;
height: auto;
border: 2px solid #950b0b;
padding: 30px;
.header{
  margin-bottom: 20px;

}
.cart-title{
  color: #950b0b;
}
tbody{
td{
 min-height: 100px;
 img{
  width: 75px;
  height: 75px;
 }
}
}
.alert{
    height: 100px;
  }
svg{
  width: 30px;
}
}

